@model Entities.CUsuario

@{
    <!-- configuracion inicial -->

    ViewBag.Title = "Formulario";

    string tipoFormulario = (Model == null) ? "Crear" : "Editar";

    List<SelectListItem> tiposUsuario = new List<SelectListItem>();
    tiposUsuario.Add(new SelectListItem
    {
        Text = "Administrador",
        Value = "ADMIN"
    });
    tiposUsuario.Add(new SelectListItem
    {
        Text = "Empleado",
        Value = "EMPLOYEE",
        Selected = true
    });
}
<div class="panel-info widget-shadow">
    <h2> @tipoFormulario Usuario </h2>
    <br />

    @using (Html.BeginForm((tipoFormulario.Equals("Crear")) ? "Crear" : "Editar", "Usuario", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.codigo)
        <div class="row">
            <div class="col-md-2">
                <label>
                    DNI
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    @Html.TextBoxFor(model => model.dni)
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>
                    Apellidos y Nombres
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    @Html.TextBoxFor(model => model.nom_ape)
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>
                    Tipo de usuario
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    @Html.DropDownListFor(model => model.tipo, tiposUsuario)
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>
                    Nickname
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    @Html.TextBoxFor(model => model.nickname)
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>
                    Password
                </label>
            </div>
            <div class="col-md-2">
                <label>
                    @Html.TextBoxFor(model => model.password)
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <label>
                    <input type="submit" value="Aceptar" />
                </label>
            </div>
        </div>
    }

</div>